<%= form_for(@purchase_order_item) do |f| %>
  <% if @purchase_order_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_order_item.errors.count, "error") %> prohibited this purchase_order_item from being saved:</h2>

      <ul>
      <% @purchase_order_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :po_id %><br />
    <%= f.number_field :po_id %>
  </div>
  <div class="field">
    <%= f.label :line_number %><br />
    <%= f.number_field :line_number %>
  </div>
  <div class="field">
    <%= f.label :item_number %><br />
    <%= f.number_field :item_number %>
  </div>
  <div class="field">
    <%= f.label :part_number %><br />
    <%= f.number_field :part_number %>
  </div>
  <div class="field">
    <%= f.label :part_description %><br />
    <%= f.number_field :part_description %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :unit_price %><br />
    <%= f.text_field :unit_price %>
  </div>
  <div class="field">
    <%= f.label :extended_price %><br />
    <%= f.text_field :extended_price %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
