<%= form_for(@daily_inventory) do |f| %>
  <% if @daily_inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@daily_inventory.errors.count, "error") %> prohibited this daily_inventory from being saved:</h2>

      <ul>
      <% @daily_inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_number %><br />
    <%= f.number_field :item_number %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :datetime %><br />
    <%= f.datetime_select :datetime %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :file_id %><br />
    <%= f.number_field :file_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
