<p id="notice"><%= notice %></p>

<p>
  <b>Po number:</b>
  <%= @purchase_order.po_number %>
</p>

<p>
  <b>Company:</b>
  <%= @purchase_order.company_id %>
</p>

<p>
  <b>Line Items:</b>
  <%= @purchase_order.line_items %>
</p>

<p>
  <b>Total Items:</b>
  <%= @purchase_order.total_items %>
</p>

<p>
  <b>Total Price:</b>
  <%= @purchase_order.total_price %>
</p>

<p>
  <b>Status:</b>
  <%= @purchase_order.status %>
</p>

<p>
  <b>Date placed:</b>
  <%= @purchase_order.date_placed %>
</p>

<p>
  <b>Date ready:</b>
  <%= @purchase_order.date_ready %>
</p>

<p>
  <b>Date shipped:</b>
  <%= @purchase_order.date_shipped %>
</p>

<p>
  <b>Date received:</b>
  <%= @purchase_order.date_received %>
</p>


<%= link_to 'Edit', edit_purchase_order_path(@purchase_order) %> |
<%= link_to 'Back', purchase_orders_path %>
