<h1>Listing items</h1>




<form id="test">
<input id="ca" type="radio" name="s" value="a" /> Part Number<br />
<input id="cb" type="radio" name="s" value="b" /> WASP Item Number<br />
<input id="cc" type="radio" name="s" value="c" /> Inventory Quantity<br />
</form>



<table>
  <tr>
  	<th></th>
    <th colspan="10">Multimode 62.5/125</th>
    <th colspan="8">Multimode 62.5/125</th>
    <th colspan="8">Singlemode 8.5/125</th>
  </tr>
  <tr>
  	<th></th>
    <th colspan="3">DX 3.0</th>
    <th colspan="3">MTRJ DX 2.0</th>
    <th colspan="4">DX 2.0</th>
    <th colspan="5">DX 2.0</th>
    <th colspan="3">DX 3.0</th>
    <th colspan="3">DX 3.0</th>
    <th colspan="5">DX 2.0</th>
  </tr>
  
  <%  # Select all from parts table 
  %>
  <% @all_parts = @parts.all %>
  
  <%# For each part, print column header 
  %> 
  <tr>
  	<th>L</th>
  	<% @all_parts.each do |part| %>
  	  <th> <%= part.column_header %> </th>
  	<% end %>
  </tr>
  
  <% lengths = ["01M","02M","03M","04M","05M","06M","07M","08M","09M","10M","12M","15M","20M","25M","30M","40M"] %>
  <% lengths.each do |length| %>
  
    <tr>
      <td>
      	<%= length %>
      </td>
      
      <% @all_parts.each do |part| %>
  	    <td bgcolor="#<%= part.column_color %>">
  	      <% @item = @items.where("part_number = ? AND part_length = ?", part.part_number, length) %>
  	      
  		  <% @item.each do |i| %>
  		    
  		    <span id="alt_item_number"><%= i.alt_item_number %></span>
  		    <span id="item_number"><%= i.item_number %></span>
  		    
  		    <%# ", " %>
  		    
  		    <%# i.item_number %>
  		    <%# ", " %>
  		    <% @inventory = @daily_inventories.where("item_number = ?", i.item_number).order("datetime DESC").limit(1) %>
  		    <% @inventory.each do |inv| %>
  		      <span id="inv_quantity"><%= inv.quantity %></span>
  		    <% end %>
  		  <% end %>
  	    </td>
  	<% end %>
  	  
    </tr>
  
  <% end %>  




</table>

<br />
<table>
  <tr>
  	<th></th>
    <th>Multimode 62.5/125</th>
    <th>Multimode 62.5/125</th>
    <th>Singlemode 8.5/125</th>
  </tr>
  <tr>
  	<td></td>
  	<td>
  <table>
      <tr>
  	    <th></th>
        <th>DX 3.0</th>
        <th>MTRJ DX 2.0</th>
        <th>DX 2.0</th>
      </tr>
    </table>
    </td><td>
    <table>
      <tr>
        <th>DX 2.0</th>
        <th>DX 3.0</th>
      </tr>
    </table>
    </td><td>
    <table>
      <tr>
        <th>DX 3.0</th>
        <th>DX 2.0</th>
      </tr>
    </table>
    </td>
  </tr>
</table>
  


